<!DOCTYPE html>
<html>
<head>
	{% include "template.html" %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}"/>
</head>
<body class="text-center">
	<form class="form-signin" method="POST" actin="/">
		<h1 class="h3 mb-3 font-weight-normal" >メールアドレスと名前を送信してください</h1>
		<input type="email" id="inputEmail" name="mail" class="form-control" placeholder="メール" required autofocus/>
		<input type="password" id="inputPassword" name="password" class="form-control" placeholder="パスワード" required />
		<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
	</form>
</body>
</html>